@import "../common.less";
@header_bgColor1: #84c361;
@header_bgColor2: #3260af;
@header_bgImage: url('../../images/bg.png');
.background(@header_bgImage) {
    background: @header_bgImage no-repeat;
    background-size: cover;
}
