@import "../common.less";
@redbegonia_header_bgColor1: rgb(219, 90, 108);
@redbegonia_header_bgColor2: rgb(219, 90, 108);
@redbegonia_header_width: 100%;
@redbegonia_header_height: 50px;

@redbegonia_footer_font_color: #fff;
@redbegonia_footer_fonthover_color: rgb(46, 78, 125);
@redbegonia_header_bgImage: url('../../images/return.png');

// 主体内容
.redbegonia {
    .puclic_header_theme(@redbegonia_header_width,
    @redbegonia_header_height,
    @redbegonia_header_bgColor1,
    @redbegonia_header_bgColor2,
    @redbegonia_header_bgImage);
    .tabBar(@redbegonia_footer_font_color,
    @redbegonia_footer_fonthover_color);
}
