.puclic_header_theme(@header_width, @header_height, @header_bgColor1, @header_bgColor2, @header_bgImage) {
    .mu-paper {
        background: -webkit-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: -moz-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: -o-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: linear-gradient(left, @header_bgColor1, @header_bgColor2);
    }
    #header {
        width: @header_width;
        height: @header_height;
        line-height: @header_height;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        color: #fff;
        background: -webkit-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: -moz-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: -o-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: linear-gradient(left, @header_bgColor1, @header_bgColor2);
    }

    #theme {
        width: @header_width;
        height: @header_height;
        background: -webkit-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: -moz-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: -o-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: linear-gradient(left, @header_bgColor1, @header_bgColor2);
    }

    #PageTop {
        width: @header_width;
        height: @header_height;
        line-height: @header_height;
        display: flex;
        align-items: center;
        background: -webkit-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: -moz-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: -o-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: linear-gradient(left, @header_bgColor1, @header_bgColor2);
        .return {
            width: 20px;
            height: 20px;
            background: @header_bgImage no-repeat;
            background-size: contain;
            margin-left: 10px;
        }
        .title {
            text-align: center;
            color: #fff;
        }
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: @header_width;
        height: @header_height;
        background: -webkit-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: -moz-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: -o-linear-gradient(left, @header_bgColor1, @header_bgColor2);
        background: linear-gradient(left, @header_bgColor1, @header_bgColor2);
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li {
                flex: 1;
                a {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-decoration: none;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                    p {
                        font-size: 10px;
                    }
                    span {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}


.tabBar(@footer_home_icon, @footer_discovery_icon, @footer_collect_icon, @footer_homehover_icon, @footer_discoveryhover_icon, @footer_collecthover_icon, @footer_font_color) {
    #footer ul li {
        a {
            p {
                color: #fff;
            }
        }
        .home span {
            background: @footer_home_icon no-repeat;
            background-size: cover;
        }

        .discovery span {
            background: @footer_discovery_icon no-repeat;
            background-size: cover;
        }

        .collect span {
            background: @footer_collect_icon no-repeat;
            background-size: cover;
        }
        .homehover {
            span {
                background: @footer_homehover_icon no-repeat;
                background-size: cover;
            }
            p {
                color: @footer_font_color;
            }
        }

        .discoveryhover {
            span {
                background: @footer_discoveryhover_icon no-repeat;
                background-size: cover;
            }
            p {
                color: @footer_font_color;
            }
        }
        .collecthover {
            span {
                background: @footer_collecthover_icon no-repeat;
                background-size: cover;
            }
            p {
                color: @footer_font_color;
            }
        }
    }
}


#menu {
    .mu-avatar {
        margin-top: 50px;
    }
    .mu-item {
        height: 26px;
        p {
            font-size: 14px;
            color: #fff;
        }
        .mu-item-title {
            text-align: center;
            color: #fff;
        }
    }
    .oparator-list {
        li {
            padding: 10px 0;
            .mu-item {
                padding: 0 30px;
                .mu-item-action {
                    justify-content: center;
                    span {
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                    }
                    span.editinfo {
                        background: url(../images/editinfo.png) no-repeat;
                        background-size: cover;
                    }
                    span.theme {
                        background: url(../images/theme.png) no-repeat;
                        background-size: cover;
                    }
                    span.Customer-service {
                        background: url(../images/Customer-service.png) no-repeat;
                        background-size: cover;
                    }
                }
                .mu-item-title {
                    text-align: left;
                }
            }
        }
    }
}














































































/*滑入滑出菜单*/

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF;
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}
